Workflows/High end Project.json
{
  "name": "High end Project",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ctf-solve",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        320
      ],
      "name": "Webhook Trigger",
      "id": "f3dffb6a-fb95-4214-ab49-70f440419113",
      "webhookId": "5f10782e-41de-4d13-be36-6d28121276b6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "name": "Gemini Pro LLM",
      "id": "68a9eac1-5f20-43f5-99ae-768e234dfd5e",
      "credentials": {
        "googlePalmApi": {
          "id": "p7cP7t5b4P4kMPNx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        160
      ],
      "name": "Agent Memory",
      "id": "43b90617-94b0-4382-b524-1c08d94f5e2b"
    },
    {
      "parameters": {
        "description": "A deep learning-powered tool to classify the type of web vulnerability (e.g., SQLi, XSS, RCE, LFI, etc.) present in the target URL based on initial response headers, content, and structure. Input: The target URL and initial HTTP response text. Output: A single, most likely vulnerability type (e.g., 'SQL Injection').",
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        144,
        608
      ],
      "name": "Vulnerability Classifier (DL)",
      "id": "9f82ee60-70cf-4331-ba7a-51f5f3b357cb"
    },
    {
      "parameters": {
        "description": "A specialized tool for automated web application scanning (e.g., using a simulated Nikto or Wappalyzer). Input: Target URL. Output: Detailed scan report including technologies, directory listings, and potential misconfigurations.",
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        144,
        464
      ],
      "name": "Web Scanner Tool",
      "id": "655daa6b-860e-4842-8101-6ceb2edbaf09"
    },
    {
      "parameters": {
        "description": "A Python-based tool for generating and executing targeted exploits based on the vulnerability type identified by the Classifier. Input: Vulnerability type (e.g., 'SQL Injection') and target URL. Output: Exploit attempt result, including any captured flag.",
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        16,
        672
      ],
      "name": "Exploit Generator (Python)",
      "id": "1b98a5f2-f985-4b3e-844a-03ecdc2eec25"
    },
    {
      "parameters": {
        "description": "Generates a professional PDF report summarizing the CTF solve. Input: A JSON string containing 'target_url', 'flag', 'exploit_summary', and 'log_history'. Output: The file path of the generated PDF report.",
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -64,
        560
      ],
      "name": "PDF Report Generator",
      "id": "8e22e712-6fcb-4476-a8b1-2a250e7d7393"
    },
    {
      "parameters": {
        "description": "Final step: Simulates uploading the generated PDF report and sends the final download link to a dedicated frontend webhook. Input: The file path of the generated PDF report.",
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        144,
        768
      ],
      "name": "Final Delivery Tool",
      "id": "93d50678-999d-459b-b85a-7d15a49aae07"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        960
      ],
      "id": "dcd17f5c-a97f-42a4-ad17-1a225b9361f3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "SnRBu4oDUBvN2ird",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "/projects/aIAXB1gPC00BDF4G/datatables/SnRBu4oDUBvN2ird"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "description": "={{ $json.output.Description }}",
            "flag": "=",
            "Website": "={{ $json.output.Website }}",
            "Scan_Description": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "flag",
              "displayName": "flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scan_Description",
              "displayName": "Scan_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        448,
        960
      ],
      "id": "1c0520ed-1b31-40ee-8dcf-9d955da56d0f",
      "name": "Insert row"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        176
      ],
      "id": "5c89bed8-c8da-4062-b95f-22d34a652fb6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p7cP7t5b4P4kMPNx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "attributes": {
          "attributes": [
            {
              "name": "Website",
              "description": "URL",
              "required": true
            },
            {
              "name": "Description",
              "description": "Description"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -224,
        960
      ],
      "id": "0a1e4f38-676d-48d9-be67-00200d6140a6",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        1088
      ],
      "id": "d4e4b052-d6d6-4dfc-b776-b250b3d30a0a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "p7cP7t5b4P4kMPNx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "Flag",
              "description": "Flag"
            },
            {
              "name": "description",
              "description": "description"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        416,
        320
      ],
      "id": "da3c1eeb-57dd-4603-ac45-999e579c3331",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "description": "Use this tool to send a live status update or command execution log to the frontend website. Input: A string containing the status message, command, or result to be displayed on the live CLI screen.",
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        144,
        880
      ],
      "name": "Live CLI Logger",
      "id": "0cf18520-08a6-4135-b0d0-7df7a1ba35c0"
    },
    {
      "parameters": {
        "executeOnce": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Execute_Once', ``, 'boolean') }}",
        "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Command', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.executeCommandTool",
      "typeVersion": 1,
      "position": [
        272,
        496
      ],
      "name": "Kali Terminal",
      "id": "dccabdd5-35ee-441a-af7e-d883df8afb90"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }}{{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an expert, autonomous CTF Web Exploitation Agent. Your goal is to analyze the provided URL, identify vulnerabilities, exploit them, and capture the flag. You have a suite of specialized tools. \n\n**Strategy:**\n1. Use the 'Vulnerability Classifier' first to determine the most likely attack vector.\n2. Use the appropriate tools ('Web Scanner', 'Exploit Generator', 'Kali Terminal') in an iterative process.\n3. Always prioritize the most effective tool based on the current context and the classifier's output.\n\n**Live CLI Reporting:**\n**CRITICAL:** Before and after executing any tool (especially 'Kali Terminal', 'Web Scanner', or 'Exploit Generator'), you MUST use the 'Live CLI Logger' tool to send a status update to the frontend. The input to the logger should be a concise, professional message describing the action being taken or the result received.\n\n**Flag Recognition:**\nThe flag is the final objective. It will typically be in a specific format. Examples include: `flag{...}`, `FLAG_...`, `ctf{...}`, `picoCTF{...}`, or a long string of hex/base64. Once you find a string matching this pattern, your task is complete.\n\n**Error Handling:**\nIf a tool execution fails or returns an error (e.g., a Python script exception or a Kali command error), **DO NOT STOP**. Analyze the error message to understand the cause (e.g., incorrect syntax, blocked request, wrong payload). Adjust your strategy, select a different tool, or modify the input for the next attempt. Use the 'Web Scanner' or 'Kali Terminal' for further reconnaissance if an exploit fails. The final output must be the captured flag and a brief description of the exploit path.\n\n**Final Reporting:**\nOnce the flag is captured, your absolute final action MUST be to use the `Live CLI Logger` tool one last time. The message should be a well-formatted summary starting with \"FLAG CAPTURED:\" and including both the flag and a step-by-step description of how you captured it. **Immediately after this, you MUST use the 'PDF Report Generator' tool to create the final analysis document. Once the PDF is created, you MUST use the 'Final Delivery Tool' with the PDF file path to upload the report and send the download link to the frontend.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        320
      ],
      "name": "Pentesting Agent",
      "id": "227594a5-6149-4f33-aa1c-56e93d51ecdb"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Pentesting Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Pro LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Memory": {
      "ai_memory": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerability Classifier (DL)": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Scanner Tool": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Exploit Generator (Python)": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PDF Report Generator": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Final Delivery Tool": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Live CLI Logger": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Kali Terminal": {
      "ai_tool": [
        [
          {
            "node": "Pentesting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pentesting Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8bdccd9-5f7c-4219-9747-8af1ed4ba925",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4516da47080723304d907218c7aef78a3129a96c5a0ce1534d291576f46454f1"
  },
  "id": "Df9OaQvkSuval0Nk",
  "tags": []
}